<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zangfengshun.musicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Music Libray">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiscoverActivity"
            android:label="Discovery" />
        <activity
            android:name=".SearchActivity"
            android:label="Search" />
        <activity
            android:name=".NowPlayActivity"
            android:label="Now Playing" />
        <activity
            android:name=".StoreActivity"
            android:label="Music Store" />
        <activity
            android:name=".MyListActivity"
            android:label="My List"></activity>
    </application>

</manifest>